<ion-view view-title="Cameras">
  <ion-content>
   	<h2>Cameras Instaladas ({{cameras.length}})</h2>
    <ion-list>
      <ion-item ng-if="cameras.length == 0"> <i class="icon ion-sad"></i>Nenhum camera instalada.</ion-item>
      <ion-item ng-if="cameras.length > 0" ng-repeat="c in cameras track by $index" class="item item-text-wrap">
        <span ng-click="editaCamera($index)">
          <i class="icon ion-videocamera"></i>
          <h2 style="color:red">{{c.label}}</h2>  <b>(rtsp://) {{c.rtsp}}</b><br/><b>(Parametros) {{c.parametros}}</b><br/>
          {{c.descricao}}
          <br/>
          <br/>
         

        </span> <button class="button button-positive" ng-click="visualizarCamera($index);">
			   		<i class="icon ion-eye"></i>Visualizar?</button>
         <button class="button button-positive" ng-click="deletarCamera($index);">
			   		<i class="icon ion-alert-circled"></i>Deletar?</button>
      </ion-item>
      
      <ion-item ng-if="adicionar">
      		<div class="list">
			  <label class="item item-input" >
			    <input type="text" ng-model="novaCamera.label" placeholder="Nome da Camera">
			  </label>

			  <label class="item item-input" >
			    <input type="text" placeholder="IP Rtsp" ng-model="novaCamera.rtsp">
			  </label>

			  <label class="item item-input" >
			    <textarea placeholder="descricao" ng-model="novaCamera.descricao"></textarea>
			  </label>
				
			  <label class="item item-input" >
			    <input type="text" placeholder="Parametros" ng-model="novaCamera.parametros" ng-init="novaCamera.parametros='-rtsp-tcp --rtsp-user= --rtsp-pwd= --aout=opensles --audio-time-stretch'">
			  </label>

			   <center>
			   	<button class="button button-positive" ng-click="cancelarCamera();">
			   		<i class="icon ion-close-circled"></i>Cancelar</button>
			   	<button class="button button-positive" ng-click="salvarCamera();">
			   		<i class="icon ion-checkmark-circled"></i>Salvar</button>
			   	</center>
		
			</div>



      </ion-item>
      <ion-item ng-if="editar">
      		<div class="list">
			  <label class="item item-input" >
			    <input type="text" ng-model="novaCamera.label" placeholder="Nome da Camera">
			  </label>

			  <label class="item item-input" >
			    <input type="text" placeholder="IP Rtsp" ng-model="novaCamera.rtsp">
			  </label>

			  <label class="item item-input" >
			    <input type="text" placeholder="Parametros" ng-model="novaCamera.parametros">
			  </label>

			  <label class="item item-input" >
			    <textarea placeholder="descricao" ng-model="novaCamera.descricao"></textarea>
			  </label>


			  

			   <center>
			   	<button class="button button-positive" ng-click="cancelarCamera();">
			   		<i class="icon ion-close-circled"></i>Fechar</button>
			   	<button class="button button-positive" ng-click="salvarEditCamera();">
			   		<i class="icon ion-checkmark-circled"></i>Salvar</button>
			   	</center>
		
			</div>



      </ion-item>
    </ion-list>
  	<ion-footer>
	    <center><button class="button button-positive" ng-click="adicionarCamera()"><i class="icon ion-videocamera"></i>Adicionar camera</button></center>
	</ion-footer>
    
  </ion-content>
	
</ion-view>
