<ion-view view-title="Sensores & Eventos">
  <ion-content class="padding" overflow-scroll="true"> 
    <h2>Sensores</h2>


    <ion-list >
      <ion-item ng-if="!$root.estadoSensores">
        <i class="icon ion-happy"></i> Não há dados dos sensores. 
      </ion-item>
      <ion-item class="item item-text-wrap" ng-if="$root.sensores.hasOwnProperty('/pir')">
        <i class="icon ion-man"></i>
        <h2 style="color:red">PIR</h2> - Ultima movimentação as : {{$root.sensores["/pir"].date | date:'dd/MM/yyyy HH:mm:ss'}}
      </ion-item>

      <ion-item class="item item-text-wrap" ng-if="$root.sensores.hasOwnProperty('/porta_aberta')">
        <i class="icon ion-checkmark" ng-if="!$root.sensores['/porta_aberta'].magnetico"></i>
        <i class="icon ion-alert-circled" ng-if="$root.sensores['/porta_aberta'].magnetico"></i>
        <h2 style="color:red">Porta</h2> - Ultimo estado da porta as:  {{$root.sensores["/porta_aberta"].date | date:'dd/MM/yyyy HH:mm:ss'}} - {{$root.sensores["/porta_aberta"].magnetico ? 'Aberta' : 'Fechada'}}
      </ion-item>

        
    </ion-list>
    <h2>Eventos ({{$root.eventos.length}}) <button class="button button-small" ng-click="limpaEventos()">Limpar</button></h2>
    <ion-list>
      <ion-item ng-if="$root.eventos.length == 0"> <i class="icon ion-happy"></i>Nenhum evento ocorrido.</ion-item>
      <ion-item ng-if="$root.eventos.length > 0" ng-repeat="e in $root.eventos" class="item item-text-wrap">
        <span ng-if="e.hasOwnProperty('pir')">
          <i class="icon ion-man"></i>
          {{e.date | date:'dd/MM/yyyy HH:mm:ss '}} - Evento movimentação
        </span>
        <span ng-if="e.hasOwnProperty('magnetico')">
          <i class="icon ion-checkmark" ng-if="!e.magnetico"></i>
          <i class="icon ion-alert-circled" ng-if="e.magnetico"></i>
          {{e.date | date:'dd/MM/yyyy HH:mm:ss'}} - Evento porta - {{e.magnetico ? 'Aberta' : 'Fechada'}}</span>

      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
