<ion-view view-title="Chats">
  <ion-content>
    <!--<input type="text" ng-model="open.link" placeholder="rtsp://localhost/">
    <button ng-click="openLink()">Abrir</button><br/>-->
     <br/>
     <center><button ng-click="runServer()">Start server</button><button ng-click="killServer()">Stop server</button></center><br/><br/>
     Porta do Servidor:<input ng-model="server.porta" /><br/><br/>
     Senha do Servidor:<input ng-model="server.senha" /><br/><br/>
     <br/><br/><br/>
     DNS NOIP:<input ng-model="dnsNOIP" /><br/><br/>
     DNS NOIP CONTA:<input ng-model="contaNOIP" /><br/><br/>
     DNS NOIP TEMPO ATUALIZAÇÃO:<input ng-model="atualizarDNSTempo" /><br/><br/>
  
     DNS NOIP ATUALIZA?
     <select
      ng-options="option.id as option.name for option in atualizarDNS.availableOptions"
      ng-model="atualizarDNS.estado"></select>

  </ion-content>
</ion-view>
