<ion-view view-title="Servidor">
  <ion-content class="padding-top" overflow-scroll="true">

    <ion-list>
     <ion-item align="center">
        <button class="button" ng-click="salvarConfigs()">Salvar configurações e Reiniciar</button>   
     </ion-item>
     
     <ion-item>
        API do Servidor:
        <label class="item item-input">
           <input type="text" ng-model="$root.server.api" />
        </label>
     </ion-item>
     
     <ion-item>
     	Senha do Servidor:
     	<label class="item item-input">
		   <input type="text" ng-model="$root.server.senha" />
		</label>
     </ion-item>
     
    </ion-list>
  </ion-content>
</ion-view>
