<ion-view view-title="Servidor">
  <ion-content class="padding-top" overflow-scroll="true">
    <!--<input type="text" ng-model="open.link" placeholder="rtsp://localhost/">
    <button ng-click="openLink()">Abrir</button><br/>-->
    <ion-list>
     <ion-item align="center">
     	<button class="button" ng-click="runServer()">Iniciar servidor</button>
     	<button class="button" ng-click="killServer()">Parar servidor</button>
        <button class="button" ng-click="salvarConfigs()">Salvar configurações servidor</button>
        
     </ion-item>
     
     <ion-item>
     	Porta do Servidor:
     	<label class="item item-input">
		   <input type="text" ng-model="$root.server.porta" />
		</label>
     </ion-item>
     
     <ion-item>
     	Senha do Servidor:
     	<label class="item item-input">
		   <input type="text" ng-model="$root.server.senha" />
		</label>
     </ion-item>
     <ion-toggle  ng-model="$root.estado.notificar">
        Notificar background? {{$root.estado.notificar ? 'Sim' : 'Não'}}
     </ion-toggle>

     <ion-item>
     	DNS NOIP:
     	<label class="item item-input">
		   <input type="text" ng-model="$root.dnsNOIP" />
		</label>
     </ion-item>
     <ion-item>
     	DNS NOIP CONTA:
     	<label class="item item-input">
		   <input type="text" ng-model="$root.contaNOIP" />
		</label>
     </ion-item>
     <ion-item>
     	DNS NOIP TEMPO ATUALIZAÇÃO ( em ms):
     	<label class="item item-input">
		   <input type="text" ng-model="$root.atualizarDNSTempo" />
		</label>
     </ion-item>
     <ion-toggle  ng-model="$root.estado.atualizarDNS">
        DNS NOIP ATUALIZA? {{$root.estado.atualizarDNS ? 'Sim' : 'Não'}}
     </ion-toggle>
     <ion-toggle  ng-model="$root.estado.startonboot">
        Iniciar servidor quando abrir app? {{$root.estado.startonboot ? 'Sim' : 'Não'}}
     </ion-toggle>
    </ion-list>
  </ion-content>
</ion-view>
