<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Dashboard Tab -->
  <ion-tab title="Sensores & Eventos" icon-off="ion-ios-clock-outline" icon-on="ion-ios-clock" href="#/tab/sensores">
    <ion-nav-view name="tab-sensores"></ion-nav-view>
  </ion-tab>

  <!-- Chats Tab -->
  <ion-tab title="Servidor {{$root.estadoServidor ? 'Online' : 'Offline'}}" icon-off="ion-ios-thunderstorm-outline" icon-on="ion-ios-thunderstorm" href="#/tab/server">
    <ion-nav-view name="tab-server"></ion-nav-view> 
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="Cameras" icon-off="ion-ios-videocam-outline" icon-on="ion-ios-videocam" href="#/tab/cameras">
    <ion-nav-view name="tab-cameras"></ion-nav-view>
  </ion-tab>


</ion-tabs>
